Keras
Keras_Preprocessing
matplotlib
numpy
openpyxl
pandas
Pillow
scikit_image
scikit_learn
scipy
tensorboardX
tensorflow
tensorflow_addons
tf_nightly
tfa_nightly
torch
torchsummary
torchvision
tqdm
xlwt
