Keras
Keras_Preprocessing
matplotlib
numpy
openpyxl
pandas
Pillow
scikit_image
scikit_learn
scipy
skimage
tensorboardX
tensorflow
tensorflow_addons
tf_nightly_gpu
tfa_nightly
torch
torchsummary
torchvision
tqdm
xlwt
